*{
  margin: 0;
  padding: o;
  box-sizing: border-box;
}

.header{
  width: auto;
  height: 50px;
  background-color: aquamarine;
  justify-content: center;
  display: flex;
  align-items: center;
}

.menu{
  
  align-items: center;
  width: 800px;
  height: 50px;
  display: flex;
  justify-content: center;
}

div{
  height: 30px;
  width: 50px;
  border-style: dashed;
  border-width: 2px;
  display: inline-block;
  background-color: chocolate;
}

.div1, .div3{
  flex-grow: 1;
}
.div2{
  flex-grow: 3;
}

.section1{
  width: auto;
  height: 170px;
  background-color: rgb(28, 4, 245);
  justify-content: center;
  display: flex;
  align-items: center;
}

div.pink1{
  height: 100px;
  width: 500px;
  background-color: darkmagenta;
}

.section2{
  width: auto;
  height: 170px; 
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.cont{
  width: 500px;
  height: 100px;
  display: flex;
}
.blue1{
  height: 100px;
  width: 300px;
  background-color: rgb(88, 134, 213);
  flex-wrap: wrap;
  
  
}
.pink2{
  height: 100px;
  width: 200px;
  background-color: rgb(240, 147, 240);
  flex-wrap: wrap;
  
}